auto
.DS_Store
*~
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.thm
*.toc
*.lof
*.lot
*.loe
*.vrb
*.fdb_latexmk
*.fls
dtx-style.sty
thuthesis.cls
thuthesis.cfg
ctex-fontset-thuthesis.def
thuthesis.glo
thuthesis.idx
thuthesis.pdf
main.pdf
shuji.pdf
