.DS_Store
*~
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.ps
*.pdf
*.thm
*.toc
*.lof
*.lot
*.loe
dtx-style.sty
thuthesis.cfg
thuthesis.cls
thuthesis.glo
thuthesis.idx
!/figures/*.pdf
