BODY {
  margin: 0px 0px 0px 0px;
  PADDING: 10px 40px 0px 25px;
  /*BACKGROUND: #f9f9ee; */
  BACKGROUND: #f4f4e6;
  COLOR: #000000; 
  FONT: 14px/1.4 'Trebuchet MS',Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.8;      
/*  text-align: justify;*/
}
	
A {
  color: #c00;
  TEXT-DECORATION: none;
}

A:hover {
	color: blue;
}

H1{
  padding: 5px 0px 0px 15px;
  font-family: georgia, "Trebuchet MS";
  FONT-WEIGHT: bolder;
  COLOR: #004f37;
  font-size: 30;
  line-height: 1;  
}

H2 {
  PADDING: 15px 0px 3px 10px; 
  COLOR: #005a9c;
  font-family: georgia, "Trebuchet MS";
  FONT-WEIGHT: BOLD;
  font-size: 20px;
  BORDER-BOTTOM: #005a9c 1px solid; 
  /*
  BORDER-LEFT: #005a9c 6px solid; 
  BACKGROUND: #c4d9ef; */
  line-height: 1;
}


H3 {
  margin-left: -25px;
  margin-right: 0px;
  margin-top: 40pt;   
  PADDING: 3px 0px 3px 10px;
  COLOR: #2b804c;
  font-family: "Trebuchet MS";
  FONT-WEIGHT: BOLD;
  font-size: 18px;
  BORDER-bottom: #2b804c 1px solid; 
  BORDER-LEFT: #2b804c 6px solid;
  BACKGROUND: #d9eae0;
  line-height: 1;
}

H4 {
  margin-left: -15px;
  margin-right: 0px;
  PADDING: 3px 0px 3px 10px;
  font-family: "Trebuchet MS";
  FONT-WEIGHT: bold;
  font-size: 16px;
  COLOR: #d04b44;
  BORDER-bottom: #d04b44 1px solid;
  BORDER-LEFT: #d04b44 6px solid;
  line-height: 1;
}

H5 {
  margin: 10px 0px 2px 0px;
  font-size: 14pt;
  color: #7b7b5a;
  line-height: 1;
}
/*
H2:hover, H3:hover, H4:hover, H5:hover {
  BORDER-bottom-style: dashed; 
}

H2:link, H2:active, H3:link, H3:active, H4:link, H4:active, H5:link, H5:active {
	border-width: 1px;
	border-style: inset;
}

*/

IMG {
  /*BORDER: 1px solid;
  align: right;
  Float: right;*/
  MARGIN-top: 15px;
  margin-bottom: 5px;
}

a img {
	border: none;
	background:  none;
}

PRE {
  line-height: 1.6;
  FONT: 9pt "Bitstream Vera Sans", Courier New, helvetica;
  COLOR: #284d6a;
    padding: 0.5em;
    background: rgb(240,240,240);
    border-top: black dotted 1px;
    border-left: black dotted 1px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;
}

PRE.example {
  color: #3c5e08;
    padding: 0.5em;
    background: rgb(240,240,240);
    border-top: black dotted 1px;
    border-left: black dotted 1px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;
}

.verse {
  MARGIN-LEFT: 1em;
  WHITE-SPACE: pre;
}

DT {
  padding-top: 1em;
  font-size: 14px;
  FONT-WEIGHT: bold;
  color: #ee4000;
}


P {
  MARGIN-LEFT: 0px;
  margin-right: 0px;    
  text-indent: 2em;
/*  text-align: justify;*/
}

strong em {
  color: #000066;
}

strong {
  /* color: #8b008b;*/
  color: black;
}

em {
  /*   color: #8b2323;   */
  color: #003399;
  font-style: oblique;
}

/* under line*/
u {
  text-decoration: none;
  font-style: oblique;
  /*color: #284d6a;*/
  color: #68228b;
}

.navfoot {
	/*
	margin-left: -35px;
	margin-right: -40px; */
	width: 100%;
}

.footdate .foothome{
  FONT: 9pt Verdana,  Arial, Times New Roman, Courier New, Helvetica;
}

hr {
	border-style: dashed;
	border-color: #ccc;
}

.toplink { 
	font-size: x-small; 
	float: right;
	line-height:1;
}
.toplink A { 
	text-decoration: none;
	color: inherit;
	background: inherit;
}
.toplink A:hover { text-decoration: underline }
